body { 
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*
*{
    padding: 0;
    margin: 0;
}
*/

#field {
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
}

#block {
    width:20px;
    height: 20px;
    background-color: blue;
    animation: block 2s linear infinite; /* linear per avere velocità costante */
    position: absolute;
}

@keyframes block {
    0% {left: var(--block-start);}
    100% {left: 10px;}
}

#dino {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
    position: absolute;
}

.animate{
    animation: jump 500ms infinite;
}

@keyframes jump {
    0% {top: 150px;}
    30% {top: var(--dino-jump1);} /* 100px */
    50% {top: var(--dino-jump2);} /* 100px */
    70% {top: var(--dino-jump3);} /* 100px */
    100% {top: 150px;}
}

/*
    0% {top: 150px;}
    30% {top: 80px;}
    50% {top: 70px;}
    80% {top: 80px;}
    100% {top: 100px;}
*/