body { 
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*
*{
    padding: 0;
    margin: 0;
}
*/

#canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
  }

#block {
    width:20px;
    height: 20px;
    background-color: blue;
    /*animation: block 2s linear infinite;  linear per avere velocità costante */
    position: absolute;
}


#dino {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
    left: 125px;
    position: absolute;
}



/*
#canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
  }
*/